Source: lua-nginx-redis-connector
Maintainer: ChangZhuo Chen (陳昌倬) <czchen@debian.org>
Section: interpreters
Priority: optional
Build-Depends: debhelper (>= 10),
               dh-lua,
Standards-Version: 4.1.2
Vcs-Browser: https://salsa.debian.org/debian/lua-nginx-redis-connector
Vcs-Git: https://salsa.debian.org/debian/lua-nginx-redis-connector.git
Homepage: https://github.com/pintsized/lua-resty-redis-connector

Package: lua-nginx-redis-connector
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         lua-nginx-redis
Description: Connection utilities for lua-nginx-redis
 Connection utilities for lua-resty-redis, making it easy and reliable to
 connect to Redis hosts, either directly or via Redis Sentinel.
